Softhouse_pfat_to_xml_mini/Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="people">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:string" name="firstname" minOccurs="0"/>
              <xs:element type="xs:string" name="lastname" minOccurs="0"/>
              <xs:element name="address" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="street"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:int" name="zip"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="phone" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="mobile"/>
                    <xs:element type="xs:string" name="landline"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="family" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="name" minOccurs="0"/>
                    <xs:element type="xs:short" name="born" minOccurs="0"/>
                    <xs:element type="xs:string" name="address" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>